.canvas {
    border-style: solid;
    border-color: black;

    // prevent image interpolation
    image-rendering: optimizeSpeed; // FireFox < 6.0
    image-rendering: -moz-crisp-edges; // FireFox
    image-rendering: -o-crisp-edges;  // Opera
    image-rendering: -webkit-crisp-edges; // Chrome
    image-rendering: crisp-edges; // Chrome
    image-rendering: -webkit-optimize-contrast; // Safari
    image-rendering: pixelated; // Future browsers
    -ms-interpolation-mode: nearest-neighbor; // IE
}

.gesture__zone {
    background-color: aqua;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    height: 90%;
    width: 100%;
    text-align: center;
    overflow: auto;
}
  
  h1, p, .gesture__indicator {
     -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none;   /* Firefox all */
    -ms-user-select: none;  /* IE 10+ */
     user-select: none;  /* Likely future */ 
  }
  
  .gesture__indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    z-index: 10;
    background-color: #42a5f5;
  }

.hidden { display: none;
  pointer-events: none;}

.full-size {
  width:100%;
  height:100%;
}