<ion-card [routerLink]="['/seg-track/', {'imageSetId': image.id}]">
  <ion-card-header>
    {{image.name}}
  </ion-card-header>
  <ion-card-content>
    <app-permission-viz [item]="image"></app-permission-viz>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-thumbnail style="--size: 150px;--border-radius:5%">
            <ion-img [src]="omeroAPI.getThumbnailUrl(image.id)"></ion-img>
          </ion-thumbnail>
        </ion-col>
        <ion-col>
          <p>Num images: {{numImages}}</p>
          <ng-template [ngIf]="roiCount != -1"><p>Omero RoIs: {{roiCount}}</p></ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>