[version]
current = "0.1.2"
regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
'''

[git]
message_template = "Bump to version {new_version}"
tag_template = "{new_version}"

[[file]]
src = "package.json"
search = '"version": "{current_version}"'

[[file]]
src = "package-lock.json"
search = '"version": "{current_version}"'

[[file]]
src = "src/assets/info.json"
search = '"version": "{current_version}"'