<h1 mat-dialog-title>Import Options</h1>
<div mat-dialog-content>
  <p>Import options for image {{imageId}}. You can selecte from different resources to import segmentation/tracking information into the UI.</p>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Segmentation</h2>
      </ion-col>
      <ion-col>
        <ion-button (click)="close(cR.IMPORT_SEG_OMERO)" [disabled]="(omeroRoICount$ | async) == 0">Import OMERO RoIs</ion-button>
        <ion-label>Number of OMERO RoIs: {{(omeroRoICount$ | async)}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-button (click)="close(cR.IMPORT_SEG_SIMPLE)" [disabled]="!(simpleSegAvailable$ | async)">Import Pred</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="close(cR.IMPORT_SEG_FILE)" [disabled]="true">Import from File</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div mat-dialog-actions>
  <ion-button mat-dialog-close>Close</ion-button>
</div>