<ion-buttons>
  <ion-chip [routerLink]="['/omero-dashboard']" #tooltip="matTooltip"
    matTooltip="Naivage to Dashboard">
    <ion-label color="primary">Dashboard</ion-label>
  </ion-chip>
  <ng-container *ngIf="project">
    >
    <ion-chip [routerLink]="['/omero-project', {id: project.id}]" #tooltip="matTooltip"
      matTooltip="Navigate to Omero Project">
      <ion-label color="secondary">{{project.name}}
      </ion-label>
    </ion-chip>
  </ng-container>
  <ng-container *ngIf="dataset">
    >
    <ion-chip [routerLink]="['/omero-dataset', {dataset: dataset.id}]" #tooltip="matTooltip"
    matTooltip="Navigate to Omero Dataset">
      <ion-label color="tertiary">{{dataset.name}}
      </ion-label>
    </ion-chip>
  </ng-container>
</ion-buttons>
