<ion-buttons>
  <ion-chip [routerLink]="['/omero-dashboard']">
    <ion-label color="primary">Dashboard</ion-label>
  </ion-chip>
  <ng-container *ngIf="project$">
    >
    <ion-chip [routerLink]="['/omero-project', {id: (project$ | async)?.id}]">
      <ion-label color="secondary">{{(project$ | async)?.name}}
      </ion-label>
    </ion-chip>
  </ng-container>
  <ng-container *ngIf="dataset$">
    >
    <ion-chip [routerLink]="['/omero-dataset', {dataset: (dataset$ | async)?.id}]">
      <ion-label color="tertiary">{{(dataset$ | async)?.name}}
      </ion-label>
    </ion-chip>
  </ng-container>
</ion-buttons>
