<div [class.ion-hide]="!show">
<ion-toolbar>Brush Tool
  <ion-button slot='end' (click)="close()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>
</ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label #tooltip="matTooltip" matTooltip="Show/Hide segmentation overlay">Show Overlay</ion-label>
          <ion-toggle [(ngModel)]="showOverlay" (ionChange)="draw()"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item>
        <ion-label #tooltip="matTooltip" matTooltip="Prevent overlap of segmentations. As soon as the brush hits another segmentation contour of the same label and the brush decreases the other contour.">Prevent overlap</ion-label>
        <ion-toggle [(ngModel)]="preventOverlap"></ion-toggle>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-row>
        <ion-col class="vertical-align-content">
          <ion-label style="text-align: center;" #tooltip="matTooltip"
          matTooltip="The polygons you draw get simplified! This is the tolerance you allow. 0 means you do not perform simplification.">
            Simp. Tolerance: {{simplificationTolerance | number:'1.2-2'}}
          </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-range  min="0" max="1" step="0.05" snaps="true" [(ngModel)]="simplificationTolerance" pin="true" style="padding: 0px;"></ion-range>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col class="vertical-align-content">
          <ion-label style="text-align: center;" #tooltip="matTooltip"
            matTooltip="The size of the drawing brush in pixels">
            Brush Size: {{brushSize | number:'1.0-0'}}
          </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-range  min="1" max="20" step="1" snaps="true" [(ngModel)]="brushSize" pin="true" style="padding: 0px;">
            <ion-label slot="start">1</ion-label>
            <ion-label slot="end">20</ion-label>
          </ion-range>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="close()">Close</ion-button>
      </ion-col>
    </ion-row>
</ion-grid>
</div>