<ion-header>
  <ion-toolbar>
    <ion-title>Omero Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let project of projects$ | async" size-sm="6" size-xl="3">
        <ion-card [routerLink]="['/omero-project/', {id: project.id}]">
          <ion-card-header >
            <h1>{{ project.name }}</h1>
          </ion-card-header>
          <ion-card-content>
            <app-permission-viz [item]="project"></app-permission-viz>
            <app-animated-preview [urlList]="(project | thumbnails) | async"></app-animated-preview>
            <p>{{ project.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ng-template *ngIf="(projects$ | async)?.length === 0">
        <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
              offset-xl="4">
          
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Your omero instance is empty!</ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
              Please create a project first. You can do this, for example, using omeroweb or <a href="https://www.openmicroscopy.org/omero/downloads/" target="_blank">omero insight</a>
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>

</ion-content>
