<ion-footer>
  <ion-toolbar>
    <app-ann-label-chip
      *ngFor="let label of labels"
      [name]="label.name"
      (nameChange)="changeLabelName(label, $event)"
      [active]="label.active"
      (activeChange)="changeActivity(label, $event)"
      [visible]="label.visible"
      (visibleChange)="changeVisibility(label, $event)"
      (mouseenter)="beginHover(label)"
      (mouseleave)="endHover(label)">
    </app-ann-label-chip>
    <ion-chip (click)="addLabel()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-chip>
  </ion-toolbar>
</ion-footer>
