<ion-header>
  <ion-toolbar>
    <ion-title>List of Image Stacks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let imSet of imageSets;" button (click)="showImageSet(imSet)">
      <ion-card-header>
        <h1>{{ imSet.name }}</h1>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <ion-thumbnail style="--size: 150px;--border-radius:5%">
                <ion-img *ngIf="imSet.url | async; let url;" [src]="url"></ion-img>
              </ion-thumbnail>
            </ion-col>
            <ion-col>
              <div>
                <ion-label>Number of images in sequence: {{imSet.image_set.length}}</ion-label>
              </div>
              <div>
                <ion-label>Creation Date: {{ imSet.creationDate }}</ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
