<ion-chip #chip outline  [ngClass]="{active: active, colorful: color == 'random'}" [style]="(color != 'random') ? 'border-color: ' + color : ''" (click)="toggleActivity()" (press)="showMenu()">
  <ion-icon [name]="(visible) ? 'eye-outline' : 'eye-off-outline'" (click)="toggleVisibility($event)"></ion-icon>
  <ion-label *ngIf="!edit">{{ name }}</ion-label>
  <ion-input #nameInput [hidden]="!edit" type="text" [(ngModel)]="tempName" (ionBlur)="toggleEdit()" (keydown.enter)="submitName($event)"></ion-input>
</ion-chip>
