<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">
      <ion-item>
        <h1 style="width: 100%;"><ion-input value="{{service.name}}" [readonly]="readonly" required></ion-input></h1>
      </ion-item>
    </ion-card-title>
    <ion-chip *ngIf="readonly" color="warning" #tooltip="matTooltip"
      matTooltip="This service is read-only! You cannot change any settings. But you can customize!">
      Read-only
    </ion-chip>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Description:</ion-label>
        <ion-textarea auto-grow="true" value="{{service.description}}" [readonly]="readonly" placeholder="Enter service description..." required></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Repository Url:</ion-label>
        <ion-textarea auto-grow="true" value="{{service.repo_url}}" [readonly]="readonly" placeholder="Enter git repository url..." required></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Entrypoint:</ion-label><ion-icon name="information-circle-outline" #tooltip="matTooltip"
        matTooltip="The entrypoint for the reposiotry is defined using mlflow format"></ion-icon>
        <ion-input value="{{service.repo_entry_point}}" [readonly]="readonly" placeholder="Enter mlflow project entrypoint..." required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Version:</ion-label>
        <ion-input value="{{service.repo_version}}" [readonly]="readonly" placeholder="Enter git version (tag, branch, commit hash)..." required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Parameters:</ion-label>
        <app-ai-parameter [parameters]="service.additional_parameters" [readonly]="readonly" required></app-ai-parameter>
        <!--<ion-list>
          <ion-item>
            <ion-input value="Parameter name"></ion-input>
            <ion-input value="Parameter value"></ion-input>
          </ion-item>
        </ion-list>
        <ion-textarea auto-grow="true" value="{{service.additional_parameters | json}}"></ion-textarea>-->
      </ion-item>
    </ion-list>

    <ion-button color="secondary">Customize</ion-button>
    <ion-button *ngIf="!readonly" color="primary">Save</ion-button>
  </ion-card-content>
</ion-card>
