<div [class.ion-hide]="!show">
  <ion-toolbar>Tracking Tool
    <ion-button slot='end' (click)="close()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label #tooltip="matTooltip" matTooltip="Show/Hide tracking overlay">Show Tracking</ion-label>
          <ion-toggle [(ngModel)]="showTracking" (ionChange)="draw()"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label #tooltip="matTooltip" matTooltip="Show/Hide tracked cells">Show tracked cells</ion-label>
          <ion-toggle [(ngModel)]="showTrackedCells" (ionChange)="draw()"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label #tooltip="matTooltip" matTooltip="Show/Hide segmentation overlay">Show Segmentation</ion-label>
          <ion-toggle [(ngModel)]="showSegmentation" (ionChange)="draw()"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label #tooltip="matTooltip" matTooltip="Allow cells only to have a certain amount of children">Max children</ion-label>
          <ion-input type="number" [(ngModel)]="maxChildren"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label #tooltip="matTooltip" matTooltip="Prevent for a tracking action to lead to a cell with two parents">Prevent Two Parents</ion-label>
          <ion-toggle [(ngModel)]="preventTwoParents"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label #tooltip="matTooltip" matTooltip="Prevent a link to skip a frame">Prevent Frame Jumps</ion-label>
          <ion-toggle [(ngModel)]="preventFrameJumps"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" (click)="selectNextCell()" #tooltip="matTooltip"
          matTooltip="Select next free cell for tracking annotation">
          Next cell
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip [class.ion-hide]="!divisionAnnotation" color="secondary">MultiChild</ion-chip>
        <ion-chip [class.ion-hide]="!cuttingMode" color="secondary">CuttingMode</ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>