<ion-header>
  <ion-toolbar>
    <ion-title>
      <app-simple-navigation [project$]="project$"></app-simple-navigation>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let dataset of datasets$ | async" size-sm="6" size-xl="3">
        <ion-card [routerLink]="['/omero-dataset', {dataset: dataset.id}]">
          <ion-card-header>
            <h4>{{dataset.name}}</h4>
          </ion-card-header>
          <app-permission-viz [item]="dataset"></app-permission-viz>
          <app-animated-preview [urlList]="dataset | thumbnails | async"></app-animated-preview>
          <ion-card-content>
            {{dataset.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-text-center" *ngIf="(datasets$ | async)?.length == 0">
    <ion-badge color="primary" class="ion-text-center" ><h1>This project does not contain any datasets</h1></ion-badge>
  </ion-grid>
</ion-content>
