<ion-header>
  <ion-toolbar>
    <ion-title>
      <app-simple-navigation [project]="(project$ | async)"></app-simple-navigation>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let dataset of datasets$ | async" size-sm="6" size-lg="3" size-xl="2">
        <ion-card [routerLink]="['/omero-dataset', {dataset: dataset.id}]">
          <ion-card-header>
            <h4>{{dataset.name}}</h4>
          </ion-card-header>
          <app-permission-viz [item]="dataset"></app-permission-viz>
          <app-animated-preview [urlList]="dataset | thumbnails | async"></app-animated-preview>
          <ion-card-content>
            {{dataset.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- When it is empty -->
  <ion-grid class="ion-text-center" *ngIf="(datasets$ | async)?.length == 0">
    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
            offset-xl="4">
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">This is an empty project!</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Please create a project first. You can do this, for example, using omeroweb or <a href="https://www.openmicroscopy.org/omero/downloads/" target="_blank">omero insight</a>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
