<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-select [(ngModel)]="editMode" interface="action-sheet" slot="start" #tooltip="matTooltip"
    matTooltip="Change your working mode here">
      <ion-select-option value="0">Segment</ion-select-option>
      <ion-select-option value="1" *ngIf="this.trackingUI">Track</ion-select-option>
    </ion-select>
      <ion-buttons slot="end">
        <ion-button (click)="omeroImport(this.stateService.imageSetId).subscribe()" #tooltip="matTooltip"
        matTooltip="Import segmentation from OMERO">Import</ion-button>
        <ion-button (click)="omeroExport()" #tooltip="matTooltip"
        matTooltip="Export segmentation to OMERO">Export</ion-button>
        <a ion-button href="https://jugit.fz-juelich.de/satomi/segtrackui/-/issues" target="_blank" #tooltip="matTooltip"
        matTooltip="Please report problems/feature requests for the software here">ISSUES</a>
        <ion-button *ngIf="isSegmentation" (click)="isOpen = !isOpen; this.draw()" type="button" #tooltip="matTooltip"
        matTooltip="Advanced ML based segmentation proposals">
          {{isOpen ? "Close" : "ADV-SEG"}}
        </ion-button>
        <ion-button *ngIf="isSegmentation" (click)="isBrushOpen = !isBrushOpen; newBrushTool(); this.draw();" type="button"
        #tooltip="matTooltip" matTooltip="Open the brush segmentation tool">
          {{isOpen ? "Close" : "BRUSH"}}
        </ion-button>
        <!--<ion-button (click)=showPop()>
          ADV-SEG
        </ion-button>-->
        <!--<ion-button (click)="openToolkit()">
          <ion-icon name="medkit-outline"></ion-icon>
        </ion-button>-->
        <ion-button *ngIf="isTracking" (click)="track()">
          TRACK
        </ion-button>
        <ion-button *ngIf="isSegmentation" (click)="rectTool()" [ngClass]="{active: this.tool !== null}"
        #tooltip="matTooltip" matTooltip="Open rectangle segmentation Tool">
          RECT
        </ion-button>
        <!--<ion-button *ngIf="isSegmentation" (click)="brushTool()" [ngClass]="{active: this.tool !== null}">
          Brush
        </ion-button>-->
        <!--<ion-button (click)="doSegment('cs')">
          SP-CS
        </ion-button>-->
        <ion-button *ngIf="isSegmentation" (click)="doSegment('js')">
          SP-JS
        </ion-button>
        <!--<ion-button (click)="segmentAll()">
          ALL
        </ion-button>-->
        <ion-button [disabled]="!canUndo" (click)="undo()" style="padding-right:10px" #tooltip="matTooltip"
        matTooltip="Undo (Ctrl+Z)">
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
        <ion-button [disabled]="!canRedo" (click)="redo()" style="padding-right:10xpx" #tooltip="matTooltip"
        matTooltip="Redo (Ctrl+Y)">
          <ion-icon name="arrow-redo-outline"></ion-icon>
        </ion-button>
        <ion-button [disabled]="!canSave" (click)="done()">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" appMovableArea>
  <div #toolContainer>
  </div>
  <app-segmentation #segTool class="popover" style="position: absolute;" [class.ion-hide]="!isOpen" [appMovable]="true" (close)="isOpen=false; this.tool=null" [segModel]="curSegModel" [segUI]="curSegUI">
  </app-segmentation>

  <app-brush #brushTool class="popover" style="position: absolute;" [class.ion-hide]="!isBrushOpen" [appMovable]="true" (close)="isBrushOpen=false; this.tool=null" (changedEvent)="this.draw()" [segModel]="curSegModel" [segUI]="curSegUI">
  </app-brush>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Segmentation</ion-title>
    </ion-toolbar>

  </ion-header>

  <app-image-display #imageDisplay [drawer]="this" [interactor]="this" cdkOverlayOrigin #origin="cdkOverlayOrigin"></app-image-display>
  <!--<app-image-view #imageView [imageUrl]="url" [enabled]="activeView === i" [segmentationModel]="segmentationModels[i]" [segmentationUI]="segmentationUIs[i]" *ngFor="let url of urls; let i = index"></app-image-view>-->
</ion-content>

<ion-footer *ngIf="urls.length > 1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="!canPrevImage" (click)="navigateToNextImageSequence().subscribe()" style="padding-right:10px">
        <ion-icon name="skip-backward"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-range min="0" max="{{segmentationModels.length - 1}}" color="secondary" step="1" snaps="true" [(ngModel)]="activeView">
      <ion-label slot="start">{{activeView}}</ion-label>
      <ion-label slot="end">{{segmentationModels.length - 1}}</ion-label>
    </ion-range>
    <ion-buttons slot="end">
      <ion-button [disabled]="!canPrevImage" (click)="prevImage()" style="padding-right:10px">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!canNextImage" (click)="nextImage()" style="padding-right:10xpx">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!canPrevImage" (click)="navigateToNextImageSequence().subscribe()" style="padding-right:10px">
        <ion-icon name="skip-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>

