<ion-header [translucent]="true">
  <ion-toolbar>
    <app-simple-navigation [project$]="project$" [dataset$]="dataset$"></app-simple-navigation>
    <ion-buttons slot="end">
      <ion-button (click)="omeroImport().subscribe()" #tooltip="matTooltip"
        matTooltip="Import segmentation from OMERO"><ion-icon name="download-outline"></ion-icon> Import</ion-button>
      <ion-button (click)="omeroExport()" #tooltip="matTooltip"
        matTooltip="Export segmentation to OMERO"><ion-icon name="share-outline"></ion-icon> Export</ion-button>

      <a ion-button href="https://jugit.fz-juelich.de/satomi/segtrackui/-/issues" target="_blank" #tooltip="matTooltip"
        matTooltip="Please report problems/feature requests for the software here"><ion-icon name="bug-outline"></ion-icon> ISSUES</a>

      <ion-button *ngIf="isSegmentation" (click)="toggleTool(segTool)" type="button" #tooltip="matTooltip"
        matTooltip="Advanced ML based segmentation proposals" [color]="(activeTool == segTool) ? 'primary' : ''">
        <ion-icon name="rocket-outline"></ion-icon>ADV-SEG
      </ion-button>
      <ion-button *ngIf="isSegmentation" (click)="toggleTool(brushToolComponent)" type="button" [color]="(activeTool == brushToolComponent) ? 'primary' : ''"
        #tooltip="matTooltip" matTooltip="Open the brush segmentation tool">
        <ion-icon name="brush-outline"></ion-icon>Brush
      </ion-button>
      <ion-button *ngIf="isSegmentation" (click)="toggleTool(multiSelectComponent)" type="button" [color]="(activeTool == multiSelectComponent) ? 'primary' : ''"
        #tooltip="matTooltip" matTooltip="Open the brush segmentation tool">
        <ion-icon name="scan-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!canUndo" (click)="undo()" style="padding-right:10px" #tooltip="matTooltip"
        matTooltip="Undo (Ctrl+Z)">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!canRedo" (click)="redo()" style="padding-right:10xpx" #tooltip="matTooltip"
        matTooltip="Redo (Ctrl+Y)">
        <ion-icon name="arrow-redo-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!canSave" (click)="done()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" appMovableArea>
  <div #toolContainer>
  </div>
  <app-segmentation #segTool class="popover" [appMovable]="true" [globalSegModel]="globalSegModel" [localSegModel]="curSegModel" [segUI]="curSegUI">
  </app-segmentation>

  <app-brush #brushTool class="popover" [appMovable]="true" (changedEvent)="draw()" [globalSegModel]="globalSegModel" [localSegModel]="curSegModel" [segUI]="curSegUI">
  </app-brush>

  <app-multi-select-tool #multiSelectTool class="popover" [appMovable]="true" (changedEvent)="draw()" [globalSegModel]="globalSegModel" [localSegModel]="curSegModel" [segUI]="curSegUI">
  </app-multi-select-tool>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Segmentation</ion-title>
    </ion-toolbar>

  </ion-header>

  <app-image-display #imageDisplay [drawer]="this" [interactor]="this" cdkOverlayOrigin #origin="cdkOverlayOrigin"></app-image-display>
  <!--<app-image-view #imageView [imageUrl]="url" [enabled]="activeView === i" [segmentationModel]="segmentationModels[i]" [segmentationUI]="segmentationUIs[i]" *ngFor="let url of urls; let i = index"></app-image-view>-->
</ion-content>

<app-ann-manager *ngIf="globalSegModel" [globalSegModel]="globalSegModel" (redraw)="draw()"></app-ann-manager>

<ion-footer *ngIf="segmentationModels.length >= 1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToPreviousImageSequence().pipe(showErrorPipe).subscribe()" style="padding-right:10px">
        <ion-icon name="play-skip-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-range min="0" max="{{segmentationModels.length - 1}}" color="secondary" step="1" snaps="true" [(ngModel)]="activeView">
      <ion-label slot="start">{{activeView}}</ion-label>
      <ion-label slot="end">{{segmentationModels.length - 1}}</ion-label>
    </ion-range>
    <ion-buttons slot="end">
      <ion-button [disabled]="!canPrevImage" (click)="prevImage()" style="padding-right:10px">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!canNextImage" (click)="nextImage()" style="padding-right:10xpx">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="navigateToNextImageSequence().pipe(showErrorPipe).subscribe()" style="padding-right:10px">
        <ion-icon name="play-skip-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>

