<ion-header class="mobile-header">
  <ion-toolbar>
    <app-simple-navigation [project]="(project$ | async)" [dataset]="(dataset$ | async)"></app-simple-navigation>
    <ion-buttons class="ion-text-right" slot="end">
      <ion-button (click)="clickSave()" #tooltip="matTooltip"
        matTooltip="Save annotation information"><ion-icon #saveIcon name="save-outline"></ion-icon></ion-button>

      <ion-button *ngFor="let tool of buttons" (tap)="clickHeaderButton(tool.value)"><ion-icon [name]="tool.icon"></ion-icon></ion-button>
      <ion-button *ngFor="let tool of tools" (tap)="selectedTool(tool.value)" [ngClass]="{'active-item' : tool.active}"><ion-icon [name]="tool.icon"></ion-icon></ion-button>

      <ion-button [disabled]="!canUndo" (click)="undo()" style="padding-right:10px" #tooltip="matTooltip"
        matTooltip="Undo (Ctrl+Z)">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!canRedo" (click)="redo()" style="padding-right:10xpx" #tooltip="matTooltip"
        matTooltip="Redo (Ctrl+Y)">
        <ion-icon name="arrow-redo-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!canSave" (click)="done()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="header">
  <ion-toolbar>
    <app-simple-navigation [project]="(project$ | async)" [dataset]="(dataset$ | async)"></app-simple-navigation>
    <ion-buttons class="ion-text-right" slot="end">
      <ion-button (click)="clickSave()" #tooltip="matTooltip"
        matTooltip="Save annotation information"><ion-icon #saveIcon name="save-outline"></ion-icon></ion-button>

      <ion-button *ngFor="let tool of buttons" (tap)="clickHeaderButton(tool.value)"><ion-icon [name]="tool.icon"></ion-icon>{{tool.name}}</ion-button>
      <ion-button *ngFor="let tool of tools" (tap)="selectedTool(tool.value)" [ngClass]="{'active-item' : tool.active}"><ion-icon [name]="tool.icon"></ion-icon>{{tool.name}}</ion-button>

      <ion-button [disabled]="!canUndo" (click)="undo()" style="padding-right:10px" #tooltip="matTooltip"
        matTooltip="Undo (Ctrl+Z)">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!canRedo" (click)="redo()" style="padding-right:10xpx" #tooltip="matTooltip"
        matTooltip="Redo (Ctrl+Y)">
        <ion-icon name="arrow-redo-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!canSave" (click)="done()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<!-- Middle content-->
<ion-content [fullscreen]="true" appMovableArea>
  <!-- A bit dirty to have it outside the content-->
  <!--<app-lineage-visualizer #linViz (selectedNode)="selectNode($event)" [class.ion-hide]="!trackingTool.show"></app-lineage-visualizer>-->

  <!-- Tools -->
  <div #toolContainer>
  </div>

  <app-manual-tracking #trackingTool class="popover" [appMovable]="true" (changedEvent)="draw()" [segUI]="curSegUI" [segUIs]="segmentationUIs" [globalSegModel]="globalSegModel" [(activeView)]="activeView" [imageId]="(imageSetId | async)"
    (selectedNode)="trackSelectedNode($event)">
  </app-manual-tracking>

  <app-flexible-segmentation #flexSegTool class="popover" [appMovable]="true" [globalSegModel]="globalSegModel" [localSegModel]="curSegModel" [segUI]="curSegUI">
  </app-flexible-segmentation>

  <app-brush #brushTool class="popover" [appMovable]="true" (changedEvent)="draw()" [globalSegModel]="globalSegModel" [localSegModel]="curSegModel" [segUI]="curSegUI">
  </app-brush>

  <app-multi-select-tool #multiSelectTool class="popover" [appMovable]="true" (changedEvent)="draw()" [globalSegModel]="globalSegModel" [localSegModel]="curSegModel" [segUI]="curSegUI">
  </app-multi-select-tool>

  <!-- Image Display-->
  <app-image-display #imageDisplay [drawer]="this" [interactor]="this" cdkOverlayOrigin #origin="cdkOverlayOrigin"></app-image-display>

</ion-content>

<!-- Label annotation manager -->
<app-ann-manager *ngIf="globalSegModel" [globalSegModel]="globalSegModel" (redraw)="draw()"></app-ann-manager>

<!-- Footer for navigating image stack and images -->
<ion-footer *ngIf="segmentationModels.length >= 1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToPreviousImageSequence().pipe(showErrorPipe).subscribe()" style="padding-right:10px"
        #tooltip="matTooltip" matTooltip="Naviagte to previous image stack">
        <ion-icon name="play-skip-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-range [disabled]="numImages == 1" min="0" max="{{segmentationModels.length - 1}}" color="secondary" step="1" snaps="true" [(ngModel)]="activeView">
      <ion-label slot="start" #tooltip="matTooltip" matTooltip="Current image index (starting with 0)">{{activeView}}</ion-label>
      <ion-label slot="end" #tooltip="matTooltip" matTooltip="Max image index (or number of frames - 1)">{{segmentationModels.length - 1}}</ion-label>
    </ion-range>
    <ion-buttons slot="end">
      <ion-button [disabled]="!canPrevImage" (click)="prevImage()" style="padding-right:10px"
        #tooltip="matTooltip" matTooltip="Naviagte to previous image">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!canNextImage" (click)="nextImage()" style="padding-right:10xpx"
        #tooltip="matTooltip" matTooltip="Naviagte to next image">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="navigateToNextImageSequence().pipe(showErrorPipe).subscribe()" style="padding-right:10px"
        #tooltip="matTooltip" matTooltip="Naviagte to next image stack">
        <ion-icon name="play-skip-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>

